{% extends "base.html" %}

{% block title %}Tennis Scoreboard | Match Score{% endblock %}

{% block extra_links %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Current match</h1>
        <div class="current-match-image"></div>
        <section class="score">
            <table class="table">
                <thead class="result">
                <tr>
                    <th class="table-text">Player</th>
                    <th class="table-text">Sets</th>
                    <th class="table-text">Games</th>
                    <th class="table-text">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr class="player1">
                    <td class="table-text">{{ player1.name }}</td>
                    <td class="table-text">{{ player1.sets }}</td>
                    <td class="table-text">{{ player1.games }}</td>
                    <td class="table-text">{{ player1.points }}</td>
                    <td class="table-text">
                        <div class="score-btn">Score</div>
                    </td>
                </tr>
                <tr class="player2">
                    <td class="table-text">{{ player2.name }}</td>
                    <td class="table-text">{{ player2.sets }}</td>
                    <td class="table-text">{{ player2.games }}</td>
                    <td class="table-text">{{ player2.points }}</td>
                    <td class="table-text">
                        <div class="score-btn">Score</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}