{% extends "base.html" %}

{% block title %}Tennis Scoreboard | New Match{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <h1>Start new match</h1>
            <div class="new-match-image"></div>
            <div class="form-container center">
                <form method="post" action="/start-match">
                    <!-- Тут поставить проверку на ошибку типа ник не прошел валидацию -->
                    {% if error %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                    <label class="label-player" for="playerOne">Player one</label>
                    <input class="input-player" name="playerOne" placeholder="Name" type="text" required title="Enter a name">

                    <label class="label-player" for="playerTwo">Player two</label>
                    <input class="input-player" name="playerTwo" placeholder="Name" type="text" required title="Enter a name">
                    <input class="form-button" type="submit" value="Start">
                </form>
            </div>
        </div>
    </div>
{% endblock %}